.profile {
  width: 250px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.avatar {
  width: 55%;
  border-radius: 50%;
  border: 1px solid silver;
  margin-bottom: 20px;
}

.name {
  font-size: 20px;
  font-weight: 500;
}
.tag {
}

.name,
.tag {
  margin-bottom: 8px;
}

.location {
}
.stats {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 10px;
  background-color: rgb(245, 245, 245);
}
.stats_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 3);
  height: 50px;
}

.stats_item:not(:last-child) {
  border-right: 1px solid silver;
}
.label {
  font-size: 12px;
  margin-bottom: 6px;
}
.quantity {
  font-weight: 500;
}
